{% extends "base.html" %}

{% block application_style %}
{{super()}}
<style>
    .form-inline .form-control{
        display: inline-block !important;
        width: auto;
        margin: 10px 0px;
    }

    #address_input {
        width: 40%;
    }

</style>
{% endblock %}

{% block application_content %}
<h5 style="margin-top: 10px;">Tu możesz dopisać swoją stronę do listy żeby podzielić się z innymi i obserwować jej status!</h5>
<div class="col-md-12">
    <div class="col-md-6">
        <form class="form-inline" action="{{ url_for('flags.address_add') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name(class_="form-control", placeholder="Discord nickname") }}
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.domain_name(class_="form-control", placeholder="Nazwa domeny np. styxu.pl") }}
                {{ form.submit(class_="btn btn-primary") }}
                {% for error in form.domain_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}