{% extends "base.html" %}

{% block application_content %}
<h5 style="margin-top: 10px;">Potrzebujesz pomocy? Zapisz się tutaj a może ktoś wyciągnie pomocną dłoń! 
<a href="{{ url_for('help.help_add') }}"><button type="button" class="btn btn-sm btn-success">Zapisz się!</button></a>
</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Discord Name</th>
          <th>Domain Name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in help_data %}
          {% include '_help_user.html' %}
        {% endfor %}
      </tbody>
    </table>
{% endblock %}